---
layout: default
permalink: /terms/
---
<div>
  <input id="search_input">
</div>
<div id="blog_content">
  {% for term in site.data.terms %}
    
    <div class="term-wrapper">
    
      <div class="term-desc">
    
        <span class="term-name">{{ term.name }}</span>
    
        {{ term.desc }}
    
      </div>
    
    </div>
 
  {% endfor %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function($){
    eventSearchHandler();

    function eventSearchHandler() {
      $("#blog_content").html("");
      var append_html = "";
      {% for term in site.data.terms %}

        name = "{{ term.name }}";
        s = $("#search_input").val();
        if (s.length == 0 || name.toLowerCase().indexOf(s.toLowerCase()) >= 0) {

          append_html += "<div class='term-wrapper'>";
          append_html += "<div class='term-desc'><span class='term-name'>{{ term.name }}</span>{{ term.desc }}</div>";
          append_html += "</div>";

        }

      {% endfor %} 
      $("#blog_content").append(append_html);
    }
    $("#search_input").bind('input', eventSearchHandler);
  });
</script>
