---
layout: default
permalink: /terms/
---
<div>
  <input id="search_input">
</div>
<div id="blog_content">
  {% for term in site.data.terms %}
      <div class='term-wrapper'>
        <div class='term-desc'>
          <span class='term-name'>{{ term.name }}</span>
          {{ term.desc }}
        </div>
      </div>
  {% endfor %} 

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function($){
    eventSearchHandler();

    function eventSearchHandler() {
      $("#blog_content").html("");
      
      {% for term in site.data.terms %}

        name = "{{ term.name }}";
        s = $("#search_input").val();
        if (s.length == 0 || name.toLowerCase().indexOf(s.toLowerCase()) >= 0) {

          $("#blog_content").append("<div class='term-wrapper'>");
            $("#blog_content").append("<div class='term-desc'><span class='term-name'>" + "{{ term.name }}" + "</span>");
            $("#blog_content").append("{{ term.desc }}" + "</div>");
          $("#blog_content").append("</div>");

        }

      {% endfor %} 
    }
    $("#search_input").bind('input', eventSearchHandler);
  });
</script>
